<div id="main-footer-push"></div>
<footer id="main-footer" class="panel panel-default">
  <center><footer id="site-footer">
<font color="black"><b> Made with 
    <img src="http://emojipedia-us.s3.amazonaws.com/cache/6e/aa/6eaa146fa36393e9eb4eec62c9d29334.png" alt="Mountain View" style="width:30px;height:30px;"> + 

    <img src="http://orig12.deviantart.net/3ee3/f/2015/256/2/d/ios_emoji_flexed_biceps_by_monickqa-d99f74y.png" alt="Mountain View" style="width:30px;height:30px;"> + 

<img src="http://emojipedia-us.s3.amazonaws.com/cache/94/f0/94f03e8e72647373f93d5271ee594cfb.png" alt="Mountain View" style="width:30px;height:30px;"> 

in <img src="http://emojipop.net/data/images/emoji_set_630.png" alt="Mountain View" style="width:30px;height:30px;"> . </b></font></center>
</footer>
