
<h1>About<h1>

<p><center><img src="http://i.imgur.com/XHOIE9w.png"></center></p>
<center><h2><b>Optimized Auction Design</b></h2></center>

<div class="thumbnail">
<div class="container-fluid">
<p><h4><b>Incentru offers innovative auction software solutions for mission critical B2B bidding and technology asset classes.  Our customized auction platform is designed to create efficient markets with an easy-to-use UI, which maximizes price discovery and liquidity for all goods.</h4></p>

</div>
</div>

<p><center><img src="http://www.clker.com/cliparts/C/s/0/A/Y/u/hand-shake-button-md.png" alt=""Responsive image"" class="img-circle"></center></p>

<center><h2><b>Private Treaty Sales</b></h2></center>

<div class="thumbnail">
<div class="container-fluid">
    <p><h4><b>We provide efficient private treaty sales for assets where there is a smaller network of buyers.  Our data-driven software helps us optimize asset appraisal, which is informed by real time market conditions and prospective buyers.</b></h4></p>
</div>
</div>

<p><center><img src="http://i.imgur.com/PhXWzRQ.png" alt=""Responsive image"" class="img-circle"></p>
<center><h2><b>Find Used Equipment You Need</b></h2></center>

<div class="thumbnail">
<div class="container-fluid">
    <p><h4><b>We are the fastest growing marketplace to source, buy, and sell used manufacturing equipment throughout the world.</b></h4></p>
</div>
</div>
<br><br/>
